<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        </head>
    <body style="background-color:#3aafa9;text-align:center;">
        <div class="container" style="margin-top:100px;">
            <h1 style="color:white;text-align:center;">Lux Academy BootCamp</h1>
            <p style="color:white;text-align:center;">Welcome to July/August 2021 bootcamp</p>
            <button style="color:#FEFFFF;background-color:#17252a;border-radius:12px;padding:5px 17px 5px 17px;"><a href="{{url_for('register')}}">Register</a></button>
        </div>
        
        </div>
            <p class="copyright">BBBootstrap.com © 2020</p>
    </body>
</html>